<% if notification.action == "Reaction" %>
  <%= render "reaction", notification: notification %>
<% elsif notification.action.include? "Milestone" %>
  <%= render "milestone", notification: notification %>
<% else %>
  <% json_data = notification.json_data %>
  <% if json_data["organization"] %>
    <div class="article-organization-headline">
      <a class="org-headline-filler" href="<%= json_data["organization"]["path"] %>">
        <img alt="<%= json_data["organization"]["name"] %> logo" src="<%= json_data["organization"]["profile_image_90"] %>">
        <%= json_data["organization"]["name"] %>
      </a>
   </div>
  <% end %>
  <div class="notification-item--meta">
    <a href="<%= json_data["user"]["path"] %>">
      <figure class="crayons-avatar crayons-avatar--xl mr-2">
        <img src="<%= json_data["user"]["profile_image_90"] %>" alt="link to <%=
        json_data["user"]["username"] %>'s profile" class="crayons-avatar__image" />
      </figure>
    </a>
    <div class="notification-meta--info">
      <span class="notification-meta--title">
        <a href="<%= json_data["user"]["path"] %>" class="notification-meta--name">
          <%= json_data["user"]["name"] %>
        </a>
        made a new post<%= ":" unless json_data["organization"] %>
        <% if json_data["organization"] %>
          under <a href="<%= json_data["organization"]["path"] %>"><%= json_data["organization"]["name"] %></a>:
        <% end %>
      </span>
      <small class="notification-meta--timestamp">
        <%= time_ago_in_words json_data["article"]["published_at"] %> ago
      </small>
    </div>
  </div>
  <div class="notification-item--body">
    <a href="<%= json_data["article"]["path"] %>">
      <div class="notification-new-post">
        <h2 class="crayons-story__title fs-xl s:fs-2xl">
          <%= h(json_data["article"]["title"]) %>
        </h2>
        <div class="crayons-story__tags">
          <% json_data["article"]["cached_tag_list_array"].each do |tag| %>
            <div class="crayons-tag">
              <span class="crayons-tag__prefix">
                #
              </span>
              <%= tag %>
            </div>
          <% end %>
        </div>
      </div>
    </a>

    <% cache "activity-published-article-reactions-#{@last_user_reaction}-#{json_data['article']['updated_at']}-#{json_data['article']['id']}" do %>
      <div class="notification-item--reactions">

        <button
          class="crayons-reaction crayons-reaction--like notification-reaction--like reaction-button <%= Reaction.cached_any_reactions_for?(notification.mocked_object("article"), current_user, "like") ? "reacted user-activated user-animated" : "" %>"
          data-reachable-id="<%= json_data["article"]["id"] %>"
          data-category="like"
          data-reachable-type="article"
          >
          <span class="crayons-reaction__icon crayons-reaction__icon--inactive">
            <%= inline_svg_tag("heart.svg", aria: true, class: "crayons-icon", title: "heart") %>
          </span>
          <span class="crayons-reaction__icon crayons-reaction__icon--active">
            <%= inline_svg_tag("heart-filled.svg", aria: true, class: "crayons-icon", title: "heart") %>
          </span>
        </button>

        <div class="crayons-reaction--save">
          <button class="crayons-btn crayons-btn--secondary crayons-btn--s reaction-button notification-reaction__save <%= Reaction.cached_any_reactions_for?(notification.mocked_object("article"), current_user, "readinglist") ? "reacted" : "" %>" data-reactable-id="<%= json_data["article"]["id"] %>" data-category="readinglist" data-reactable-type="Article">
            <span class="bm-initial">Save</span>
            <span class="bm-success">Saved</span>
          </button>
        </div>

      </div>
    <% end %>
  </div>
<% end %>
