<% json_data = notification.json_data %>
<% user = User.find_by(id: json_data["user"]["id"]) %>
<div class="notification-item--meta">
  <a href="<%= json_data["user"]["path"] %>">
    <figure class="crayons-avatar crayons-avatar--l mr-2">
      <img class="crayons-avatar__image" src="<%= ProfileImage.new(user).get %>"
      alt="link to <%= json_data["user"]["username"] %>'s profile" />
    </figure>
  </a>

  <div class="notification-meta--title">
    <a href="<%= json_data["user"]["path"] %>">
      You
    </a>
    received the <strong><%= sanitize(json_data["badge_achievement"]["badge"]["title"]) %></strong> badge
  </div>
</div>
<% cache "activity-badge-reward-#{json_data['badge_achievement']['badge_id']}" do %>

  <div class="notification-item--body">
    <%= json_data["badge_achievement"]["badge"]["description"] %>
  </div>
  <figure class="notification-badge--container">
    <img class="notification-badge--image" src="<%= optimized_image_url(json_data["badge_achievement"]["badge"]["badge_image_url"], width: 250) %>" alt="<%= json_data["badge_achievement"]["badge"]["title"] %>">
  </figure>
<% end %>
  <div class="notification-item--body">
    <%= json_data["badge_achievement"]["rewarding_context_message"].html_safe %>
  </div>
<a href="<%= json_data["user"]["path"] %>">
  <button class="crayons-btn follow-action-button badge-button block mt-0 mr-auto mb-0 ml-auto">
    Visit my profile
  </button>
</a>
<div class="notification-item--footer">
  <p class="notification-footer--body">
    You also get <a href="/credits">5 new credits</a> to use for <strong><a href="/listings">community listings</a> if you have anything you'd like to promote. 🎉 <a href="<%= about_listings_url %>">Learn more about Listings<a>
  </p>
</div>
