<% first_notification = notification.json_data["aggregated_siblings"].first %>

  <% if notification.json_data["aggregated_siblings"].length == 1 %>
    <div class="notification-item--meta">
      <% cache "activity-profile-pic-#{first_notification['id']}-#{first_notification['profile_image_90']}" do %>
        <a href="<%= first_notification["path"] %>">
          <figure class="crayons-avatar crayons-avatar--xl mr-2">
            <img class="crayons-avatar__image" src="<%=
            first_notification["profile_image_90"] %>" alt="link to <%=
            first_notification["username"] %>'s profile">
          </figure>
        </a>
      <% end %>
      <div class="notification-meta--info">
        <span class="notification-meta-title">
          <% cache "activity-follow-button-#{first_notification['path']}-#{first_notification['name']}" do %>
            <a href="<%= first_notification["path"] %>" class="notification-meta--name"><%= first_notification["name"] %></a> followed you.
            <%= follow_button(notification.decorate.mocked_object("user"), "follow-back") %>
          <% end %>
        </span>
      </div>
    </div>


  <% elsif notification.json_data["aggregated_siblings"].length == 2 %>
    <% json_data_array = notification["json_data"]["aggregated_siblings"] %>
    <div class="notification-item--meta">
      <a href="<%= json_data_array.last["path"] %>">
        <figure class="crayons-avatar crayons-avatar--xl">
          <img src="<%= json_data_array.last["profile_image_90"] %>" alt="link to <%= json_data_array.last["name"] %>'s profile" class="crayons-avatar__xl">
        </figure>
      </a>
      <div class="notification-meta-info">
        <span class="notification-meta-title">
          <a href="<%= json_data_array.first["path"] %>" class="notification-meta--name"><%= json_data_array.first["name"] %></a> and
          <a href="<%= json_data_array.second["path"] %>" class="notification-meta--name"><%= json_data_array.second["name"] %></a> followed you!
        </span>
      </div>
    </div>

  <% else %>

    <div class="follower-pic-row">
      <% notification.json_data["aggregated_siblings"][0..10].each do |sibling| %>
        <a href="<%= sibling["path"] %>">
          <figure class="crayons-avatar crayons-avatar--xl">
            <img src="<%= sibling["profile_image_90"] %>" alt="link to <%= sibling["name"] %>'s profile" class="crayons-avatar__image">
          </figure>
        </a>
      <% end %>
    </div>
    <div class="notification-meta--info">
      <span class="notification-meta--title">
        <a href="<%= first_notification["path"] %>" class="notification-meta--name"><%= first_notification["name"] %></a>
        and <%= notification.json_data["aggregated_siblings"].size - 1 %> others followed you.
      </span>
    </div>
  <% end %>
